Trabalho 2/Exercicio 2/Exercicio2Cliente/xml-resources/web-service-references/servicoPublicacao/wsdl/localhost_8080/Exercicio2/servicoPublicacao.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servico/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servico/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="atualizarPublicacao" type="tns:atualizarPublicacao"/>

<xs:element name="atualizarPublicacaoResponse" type="tns:atualizarPublicacaoResponse"/>

<xs:element name="consultarPublicacao" type="tns:consultarPublicacao"/>

<xs:element name="consultarPublicacaoResponse" type="tns:consultarPublicacaoResponse"/>

<xs:element name="criarPublicacao" type="tns:criarPublicacao"/>

<xs:element name="criarPublicacaoResponse" type="tns:criarPublicacaoResponse"/>

<xs:element name="excluirPublicacao" type="tns:excluirPublicacao"/>

<xs:complexType name="consultarPublicacao">
<xs:sequence>
<xs:element name="tituloPublicacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPublicacaoResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacao" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacao">
<xs:sequence>
<xs:element name="dataPublicacao" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarPublicacao">
<xs:sequence>
<xs:element name="pubicacao" type="tns:publicacao" minOccurs="0"/>
<xs:element name="tituloAtualizar" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarPublicacaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="criarPublicacao">
<xs:sequence>
<xs:element name="publicacao" type="tns:publicacao" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="criarPublicacaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="excluirPublicacao">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>