clienteTrabalho2/src/META-INF/wsdl/localhost_13966/trabalho2/publicacao.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://trabalho2.unirio.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://trabalho2.unirio.org/">

<xs:element name="operacaoTeste" type="tns:operacaoTeste"/>

<xs:element name="operacaoTesteResponse" type="tns:operacaoTesteResponse"/>

<xs:complexType name="operacaoTeste">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacaoTesteResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacoes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacoes">
<xs:sequence>
<xs:element name="dataPublicacao" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>