Exercicio2Cliente/src/META-INF/wsdl/localhost_8080/Exercicio2/servicoConsulta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servico/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servico/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="consultarAutor" type="tns:consultarAutor"/>

<xs:element name="consultarAutorResponse" type="tns:consultarAutorResponse"/>

<xs:complexType name="consultarAutor">
<xs:sequence>
<xs:element name="nomeAutor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarAutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:autor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autor">
<xs:sequence>
<xs:element name="cpf" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="nome_de_citacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>