Trabalho_3/Exercicio_2/Exercicio2Cliente/xml-resources/web-service-references/servicoPublicacao/wsdl/localhost_8080/Exercicio2/servicoPublicacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servico/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servico/" name="servicoPublicacao">
<types>
<xsd:schema>
<xsd:import namespace="http://Servico/" schemaLocation="http://localhost:8080/Exercicio2/servicoPublicacao?xsd=1"/>
</xsd:schema>
</types>
<message name="criarPublicacao">
<part name="parameters" element="tns:criarPublicacao"/>
</message>
<message name="criarPublicacaoResponse">
<part name="parameters" element="tns:criarPublicacaoResponse"/>
</message>
<message name="atualizarPublicacao">
<part name="parameters" element="tns:atualizarPublicacao"/>
</message>
<message name="atualizarPublicacaoResponse">
<part name="parameters" element="tns:atualizarPublicacaoResponse"/>
</message>
<message name="excluirPublicacao">
<part name="parameters" element="tns:excluirPublicacao"/>
</message>
<message name="consultarPublicacao">
<part name="parameters" element="tns:consultarPublicacao"/>
</message>
<message name="consultarPublicacaoResponse">
<part name="parameters" element="tns:consultarPublicacaoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="servicoPublicacao">
<operation name="criarPublicacao">
<input wsam:Action="http://Servico/servicoPublicacao/criarPublicacaoRequest" message="tns:criarPublicacao"/>
<output wsam:Action="http://Servico/servicoPublicacao/criarPublicacaoResponse" message="tns:criarPublicacaoResponse"/>
</operation>
<operation name="atualizarPublicacao">
<input wsam:Action="http://Servico/servicoPublicacao/atualizarPublicacaoRequest" message="tns:atualizarPublicacao"/>
<output wsam:Action="http://Servico/servicoPublicacao/atualizarPublicacaoResponse" message="tns:atualizarPublicacaoResponse"/>
</operation>
<operation name="excluirPublicacao">
<input wsam:Action="http://Servico/servicoPublicacao/excluirPublicacao" message="tns:excluirPublicacao"/>
</operation>
<operation name="consultarPublicacao">
<input wsam:Action="http://Servico/servicoPublicacao/consultarPublicacaoRequest" message="tns:consultarPublicacao"/>
<output wsam:Action="http://Servico/servicoPublicacao/consultarPublicacaoResponse" message="tns:consultarPublicacaoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servico/servicoPublicacao/consultarPublicacao/Fault/Exception"/>
</operation>
</portType>
<binding name="servicoPublicacaoPortBinding" type="tns:servicoPublicacao">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="criarPublicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarPublicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirPublicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="consultarPublicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="servicoPublicacao">
<port name="servicoPublicacaoPort" binding="tns:servicoPublicacaoPortBinding">
<soap:address location="http://localhost:8080/Exercicio2/servicoPublicacao"/>
</port>
</service>
</definitions>